
@media screen and (max-width:800px){

    /* Nav container */

    #navbar2{width:100%; height:80px;}
   
    .poster{display:none;}

    .logo { padding-top:15px;}
    .navbar {width:100%;flex-direction: column;align-items: flex-start; padding:none;}

    .navbar__logo > img {padding-top:10px;}
  
    /* Menu */
    .navbar__menu {  display: block; 
        flex-direction: column;
        text-align: center; 
        width: 100%; 
        z-index: 30;
    background-color: #1a1a1a;  }

    .navbar__menu li{padding:none;}
  
    .navbar__menu a {
      /* Fill in an entire line so that user can click on any space */
      display: block; color:black;

    }
  
 

  
    /* Toggle button */
    .navbar__toggleBtn {display: block; padding-top:25px;}
  
    
    .navbar__menu.active,.navbar__icons.active{display: flex;}

    .banner{width:100%; height: 1000px;}
    .banner h1 {font-size:40px;}
    .content{width:100%; height: 1000px;}

    .cover{width:90%; margin:0 auto;}

    .flex-form{width:100%; height:170px; flex-direction: column; margin:0 auto;} 


    #iconbox{width:100%; height:1500px; }
    .iconpage {width:100%; height:1500px;  flex-direction: column;}
    .iconpage article { width:100%; height:150px; margin: 20px 0 auto; border-radius: 0; }


    #photobox{width:100%; height:2600px; }
    .photopage {width:100%; height:2600px; display:flex; flex-direction: column; }

    .photopage > .pli{color:black;}
    .carda , .cardb , .cardc ,.cardd { width:80%; height:400px; margin:20px auto; }
    


    #videobox{width:100%; height:auto;}
    .videopage{ width:100%; height:auto;}
    .videopage > video{width:100%; height:auto;}
    
    
    #wrappage{display:none;}

    #articlebox{width:100%; height:2000px; }
    .articlepage{width:100%; height:2000px; display:flex; flex-direction: column;}
    .carde , .cardf , .cardg ,.cardh { width:80%; height:400px; margin:20px auto; }
    .articlepage > #hli{font-size:14px;}
    .articlepage > #aeh{font-size:40px; color:black;}





    #reviewbox{width:100%; height:600px;}
    .reviewpage{width:100%; height:600px;}


    #sliderbox{width:100%; height:150px;}
.sliderpage{width:100%; height:150px; background-color: #f0f4f7; margin:0 auto; }



.slider_wrapper{width:49%; height:600px;}

#slidewrap {width:100%;}
 .slide , .slide li { width:100%;}
 #star{font-size:30px; }
 #name{font-size:40px;}
 #review{font-size:13px;}

}


@media (min-width:771px) and (max-width:1098px){

  #navbar2{width:100%; height:80px;}
  .navbar{width:100%; height:80px;}


#photobox{width:100%; height:2100px; }
.photopage {width:100%; height:2100px; display:flex; flex-direction: column;}

.photopage > .pli{color:black;}
.carda , .cardb , .cardc ,.cardd { width:70%; height:600px; margin:20px auto; }

#videobox{width:100%; height:auto;}
.videopage{ width:100%; height:auto;}
.videopage > video{width:100%; height:auto;}

#articlebox{width:100%; height:2000px; }
    .articlepage{width:100%; height:2000px; display:flex; flex-direction: column;}
    .carde , .cardf , .cardg ,.cardh { width:70%; height:600px; margin:20px auto; }
    .articlepage > #hli{font-size:25px;}
    .articlepage > #aeh{font-size:40px; color:black;}


    #reviewbox{width:100%; height:600px;}
    .reviewpage{width:100%; height:600px;}

    
    #sliderbox{width:100%; height:150px;}
.sliderpage{width:100%; height:150px; background-color: #f0f4f7; margin:0 auto; }


.slider_wrapper{width:49%; height:600px;}

.cover{width:90%; margin:0 auto;}

    .flex-form{width:100%; height:170px; flex-direction: column; margin:0 auto;}

 


}



@media (min-width:1099px) and (max-width:1319px){

  #slidewrap {width:100%;}
 .slide , .slide li { width:100%;}

  
  #navbar2{width:100%; height:80px;}
  .navbar{width:100%; height:80px;}

#photobox{width:100%; height:900px; }
.photopage {width:100%; height:900px;}

.photopage > .pli{color:black;} 
.carda , .cardb , .cardc ,.cardd { width:25%; height:600px; margin:20px auto; }


#articlebox{width:100%; height:900px; }
    .articlepage{width:100%; height:900px;}
    .carde , .cardf , .cardg ,.cardh { width:25%; height:600px; margin:20px auto; }
    .articlepage > #hli{font-size:25px;}
    .articlepage > #aeh{font-size:40px; color:black;}

#videobox{width:100%; height:auto;}
.videopage{ width:100%; height:auto;}
.videopage > video{width:100%; height:auto;}

#reviewbox{width:100%; height:650px;}
    .reviewpage{width:100%; height:650px;}


    #wrappage{display:block;}

    .cover{width:90%; margin:0 auto;}

    .flex-form{width:100%; height:100px;  margin:0 auto;}


    #sliderbox{width:100%; height:150px;}
.sliderpage{width:100%; height:150px; background-color: #f0f4f7; margin:0 auto; }

}


/* 771px ~ 1319 중복 */

@media (min-width:771px) and (max-width:1319px){
 


  .banner{width:100%; height: 1000px;}
  .banner h1 {font-size:40px;}
  .content{width:100%; height: 1000px;}

  

  

   #iconbox{width:100%; height:700px; }
   .iconpage {width:100%; height:700px; margin:0 auto;}
   .iconpage article { width:30%; height:150px; margin: 20px 12px auto; border-radius: 0; }
    

 #slidewrap {width:100%;}
 .slide , .slide li { width:100%;}
}











