body{font-family: "Nunito Sans",Arial,sans-serif;

line-height:1.8;
}

.banner{width:100%; height:500px;  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/blur_jpg1.webp); 
    background-position: center; background-size:cover; background-attachment: fixed; text-align: center;}
    .content{flex-direction:column; width:1200px; height:500px;  margin:0 auto; display:flex; justify-content: center; align-items:center; }
.content > h1 {font-size:4vw; color:white; padding:0; margin:0; text-transform: uppercase; }
.content > p {font-size:1vw; color:white; padding:0; margin:0; text-align: center; }


#topbox{
    width:100%; 
    height:4000px;
     
     display:flex;
     }

#fullbox{
    width:1320px; 
    height:4000px;  
    margin:0 auto; 
    display:flex;
    flex-direction: row;
}

.longbox{width:869px; 
    height:4000px; 
    
    margin-left:auto; 
    margin-right: auto; 
}

.longbox > h3 {
    color:black;
}

.longbox > p {
    color:black;
}

.longh1 {

    color:black;

    font-size:30px;

    padding-top:60px;
}


.pxod{color:#999999; font-size: 16px;}

.longbox > .longimg1 {

width:100%;
height:600px;
}


.longh3{

    color:black;
    font-size:30px;
    padding-top:80px;
}

.longh12{

    color:black;
    font-size:30px;
    padding-top:60px;
}

.botphoto{width:100%; padding-top:30px;}


.but{width:450px; height:70px;   margin-top:40px;}

.bigphoto{width:100%; height:1000px;}

button{color:#Fff; background-color: #ff414d; border-radius: 5px;

padding:10px 10px;
margin-right:7px;
margin-bottom:10px;
border:none;

}

button a {text-decoration: none; color:#fff; }





/* short box */
/* short box */
/* short box */
/* short box */
/* short box */
/* short box */

.shortbox{
    width:439px;
     height:1600px; 
     padding-left:1.8em !important;
     
  
     
    }


    .grad2{
        width:100%;
         height:250px; 
         background-color:white;
        }

    .grad3{
        width:100%; 
        height:450px; 
       
    }

    .grad3 h1 {color:20px; }

    


    #tagcloud{color:black; font-size: 40px; padding-bottom: 20px;}


    .btn2{
        color:white;
        background-color: #ff414d;
        padding: 10px 10px; 
        border-radius: 5px ;
        margin:5px 5px;
        
    }

    .grad5{
        width:100%; 
        height:450px;
         
        }

    .instabox{
        width:439px;
         height:400px; 
        
        
      
          
    }
    .instabox > article {
         width:130px;
          height:130px;
         
          margin-right:10px;
          float:left;
          
          

        } 

     .instabox > article img {

        width:120px;
        height:110px;   
     }



        .grad6

        {
            width:100%;
            height:400px;
           


        }

        .grad2 > ul > li {

            line-height: 2.0;
        }