body{font-family: "Nunito Sans",Arial,sans-serif;}

.banner{width:100%; height:500px;  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/blur_jpg1.webp); 
    background-position: center; background-size:cover; background-attachment: fixed; text-align: center;}
    .content{flex-direction:column; width:1200px; height:500px;  margin:0 auto; display:flex; justify-content: center; align-items:center; }
.content > h1 {font-size:4vw; color:white; padding:0; margin:0; text-transform: uppercase; }
.content > p {font-size:1vw; color:white; padding:0; margin:0; text-align: center; }


#topbox{
    width:100%; 
    height:8000px;
     
     display:flex;
     }

#fullbox{
    width:1320px; 
    height:8000px;  
    margin:0 auto; 
    display:flex;
    flex-direction: row;
}

.longbox{width:880px; 
    height:8000px; 
    background-color:black;
    margin-left:auto; 
    margin-right: auto; 
}

.longbox > h3 {
    color:white;
}

.longbox > p {
    color:white;
}

.longh1 {

    color:white;

    font-size:30px;

    padding-top:50px;
}



.longbox > .longimg1 {

width:100%;
height:600px;
}


.but{width:300px; height:30px;  background-color: aqua; margin-top:40px;}

.bigphoto{width:100%; height:1000px;}

button{transition: .3s all ease;}



/* short box */
/* short box */
/* short box */
/* short box */
/* short box */
/* short box */

.shortbox{
    width:439px;
     height:1600px; 
     
  
     
    }


    .grad2{
        width:100%;
         height:250px; 
         background-color:white;
        }

    .grad3{
        width:100%; 
        height:350px; 
       
    }

    .grad3 h1 {color:20px; }

    


    #tagcloud{color:white;}

    .grad5{
        width:100%; 
        height:350px;
         background-color:darkorange;
        }

    #instabox{
        width:439px;
         height:350px; 
         background-color: deeppink;
        
      
          
    }
    #instabox > article {
         width:120px;
          height:130px;
          background-color: dimgray;
          margin:10px 13px;
          float:left;
          
          

        } 

     #instabox > article img {

        width:120px;
        height:130px;   
     }



        .grad6

        {
            width:100%;
            height:400px;
            background-color: dodgerblue;


        }

        .grad2 > ul > li {

            line-height: 2.0;
        }