
@media screen and (max-width:801px){
    



    /* Nav container */

    #navbar2{width:100%; height:80px;}
   

    .logo { padding-top:15px;}
    .navbar {width:100%;flex-direction: column;align-items: flex-start; padding:none;}

    .navbar__logo > img {padding-top:10px;}
  
    /* Menu */
    .navbar__menu {  display: block; 
        flex-direction: column;
        text-align: center; 
        width: 100%; 
        z-index: 30;
    background-color: #1a1a1a;  }

    .navbar__menu li{padding:none;}
  
    .navbar__menu a {
      /* Fill in an entire line so that user can click on any space */
      display: block; color:black;

    }
  
 

  
    /* Toggle button */
    .navbar__toggleBtn {display: block; }
  
    
    .navbar__menu.active,.navbar__icons.active{display: flex; transition: all 0.3s ;}

 .content{width:100%;}


 #topbox{width:100%;}
 #fullbox{width:100%;}
 .longbox{width:100%;}

 input[type="radio"] + label {display:inline-block; 
    padding:20px; background:#AE5324; color:#fff;
     font-size:15px; cursor:pointer;
     font-family: "NanumSquare",sans-serif;
    padding-bottom: 20px;
    width:24%;
    
    text-align: center;
}

.con1{width:100%;}

.dddtbox{width:100%; font-size:13px;}

.dtbox{width:100%; font-size:11px;}


.productprice{width:100%; height:200px;}
.productprice table {width:100%;}

#name{font-size:30px;}

.prdpri{display:none;}
.prdpri2{display:none;}

.con2{width:100%; height:auto;  }
.con3{width:100%; height:3050px;}

.mobbox{width:100%;}


.boxa2 > .conart{width:80px; height:100px; margin:5px 8px;}

#noticebox{width:100%; font-size:11px; height:800px;}

.meeting{height:250px;}

.notice-content table {font-size:12px;}

}

