#wrapa {width:1320px; height:280px;  margin:0 auto; display:flex;  flex-flow:row wrap; text-decoration-line: none;}
.boxa {width:90%; height:280px;  display: flex; text-decoration-line: none; }
.photoa {width:90%; height:280px; background-position:center; background-size:cover; border-radius: 10px; }

.texta {width: 100%; padding-top:80px; padding-left: 20px; text-align: center; align-items: center; font-size: 1.5em;}


h3{color:white;}
p{color:#90bcd5;}


#wrapb {width:1320px; height:900px;  margin:0 auto; display:flex;  flex-flow:row wrap; text-decoration-line: none; }
.boxb {width:100%; height:900px;  display: flex; text-decoration-line: none; }
.photob {width:90%; height:800px; background-position:center; background-size:cover; border-radius: 10px; }

.textb {width: 100%; padding-top:80px; padding-left: 20px; text-align: center; align-items: center; font-size: 1.5em;}
#artbox > article{ width:130px; height:130px; background-color:#f8f9fa; float:left; margin:70px 15px;}

#fo{text-align: left; color:#ff414d; font-size: 14px; padding-bottom: 1.5em !important; }
#go{color:black; font-size:17px; font-weight: 700; line-height: 1.4;}


.counter {
    display: table-cell;
    margin:1.5%;
    font-size:30px;
   
    width:150px;
   color:black;
    height:30px;
    vertical-align: middle;
    
    font-weight:600;
  }

  h4{padding-top:20px; font-size:16px; color:#ff414d;}








  @media (min-width:499px) and (max-width:770px){


    #wrapbox{width:100%; height:450px; }

    #wrapb {width:100%; height:450px;  margin:0 auto; display:flex;  flex-flow:row wrap; text-decoration-line: none; }
    .boxb {width:100%; height:450px;  display: flex; text-decoration-line: none; }
    .photob {display:none; }
    
    .textb {width: 100%; height:450px; padding-top:80px; text-align: center; align-items: center; font-size: 1.5em;}
    #artbox{display:none; width:100%; height:400px; background-color:#f8f9fa; float:left;}
    #artbox > article {width:100%; height:50px; flex-direction: row;
    display:none;}



    #fo{text-align: left; color:#ff414d; font-size: 14px; padding-bottom: 1.5em !important; }
    #go{color:black; font-size:17px; font-weight: 700; line-height: 1.4;}


    #pfo1{font-size:13px;}
    #pfo2{font-size:13px;}
    .counter {
      
      display: table-cell;
      margin:1.5%;
      font-size:30px;
     
      width:150px;
     color:black;
      height:30px;
      vertical-align: middle;
      
      font-weight:600;

      display:none;
    }
  
    #artbox > article > #ch1 , #ch2 , #ch3 , #ch4 {
      font-size:16px; color:#ff414d; 
    
    width:100%;
  
  display:none;}

  }



  @media (min-width:771px) and (max-width:1098px){
    #wrapbox{width:100%; height:600px; }

    #wrapb {width:100%; height:600px;  margin:0 auto; display:flex;  flex-flow:row wrap; text-decoration-line: none; }
    .boxb {width:100%; height:600px;  display: flex; text-decoration-line: none; }
    .photob {width:50%; height:600px;}
    
    .textb {width: 70%; height:600px; padding-top:80px; text-align: center; align-items: center; font-size: 1.5em;}
    #artbox{display:flex; justify-content: space-around;}
    #artbox > article {width:110px; height:110px; flex-direction: row;
 }



    #fo{text-align: left; color:#ff414d; font-size: 14px; padding-bottom: 1.5em !important; }
    #go{color:black; font-size:40px; font-weight: 700; line-height: 1.4;}

  #pfo1{font-size:15px;}
  #pfo2{font-size:15px;}

    .counter {
      
      display: table-cell;
      margin:1.5%;
      font-size:30px;
     
      width:150px;
     color:black;
      height:30px;
      vertical-align: middle;
      
      font-weight:600;

      
    }
  
  }



  @media (min-width:1099px) and (max-width:1319px){


  

    #wrapb {width:100%; height:800px;  margin:0 auto; display:flex;  flex-flow:row wrap; text-decoration-line: none; }
    .boxb {width:100%; height:800px;  display: flex; text-decoration-line: none; }
    .photob {width:90%; height:800px; background-position:center; background-size:cover; border-radius: 10px; }

    
    .textb {width: 100%; height:400px; padding-top:80px; text-align: center; align-items: center; font-size: 1.5em;}
    #artbox{display:flex; justify-content: space-around;}
     
    #artbox > article {width:100px; height:100px; margin: 100px 10px ; }
    


    #fo{text-align: left; color:#ff414d; font-size: 14px; padding-bottom: 1.5em !important; }
    #go{color:black; font-size:40px; font-weight: 700; line-height: 1.4;}


    #pfo1{font-size:15px;}
    #pfo2{font-size:15px;}
    .counter {
      
      display: table-cell;
      margin:1.5%;
      font-size:30px;
     
      width:150px;
     color:black;
      height:30px;
      vertical-align: middle;
      
      font-weight:600;

    }


  }