
  
  /* Transistion both your normal and hovered elements to allow for smooth flow when unhovered */
  
  .carda{
      float:left;
      margin:0 auto;
    
    background: white;
    margin-top: 70px;
    height: 400px;
    width: 24%;
    transition: 0.6s all ease;
    margin-left:5px;
    margin-right: 5px;
  }

    
  .cardb {
    float:left;
    margin:0 auto;
  
  background: white;
  margin-top: 70px;
  height: 400px;
  width: 24%;
  transition: 0.6s all ease;
  margin-left:5px;
  margin-right: 5px;
}


  
.cardc {
  float:left;
  margin:0 auto;

background: white;
margin-top: 70px;
height: 400px;
width: 24%;
transition: 0.6s all ease;
margin-left:5px;
margin-right: 5px;
}


  
.cardd {
  float:left;
  margin:0 auto;

background: white;
margin-top: 70px;
height: 400px;
width: 24%;
transition: 0.6s all ease;
margin-left:5px;
margin-right: 5px;
}


.carde {
  float:left;
  margin:0 auto;

background: white;
margin-top: 70px;
height: 400px;
width: 24%;
transition: 0.6s all ease;
margin-left:5px;
margin-right: 5px;
}


.cardf {
float:left;
margin:0 auto;

background: white;
margin-top: 70px;
height: 400px;
width: 24%;
transition: 0.6s all ease;
margin-left:5px;
margin-right: 5px;
}



.cardg {
float:left;
margin:0 auto;

background: white;
margin-top: 70px;
height: 400px;
width: 24%;
transition: 0.6s all ease;
margin-left:5px;
margin-right: 5px;
}


.cardh {
  float:left;
  margin:0 auto;
  
  background: white;
  margin-top: 70px;
  height: 400px;
  width: 24%;
  transition: 0.6s all ease;
  margin-left:5px;
  margin-right: 5px;
  }
    
  .cardTopa {
    transition: 0.4s all ease;
    height: 70%;
    background: url(../img/main1.jpg)
      no-repeat;
      background-size: cover;
  }

  .cardTopb {
    transition: 0.4s all ease;
    height: 70%;
    background: url(../img/main2.jpg)
   
      no-repeat;
      background-size: cover;
  }

  .cardTopc {
    transition: 0.4s all ease;
    height: 70%;
    background: url(../img/main3.jpg)
      no-repeat;
      background-size: cover;
  }

  .cardTopd {
    transition: 0.4s all ease;
    height: 70%;
    background: url(../img/main4.jpg)
      no-repeat;

      background-size: cover;
  }

  .cardTope {
    transition: 0.4s all ease;
    height: 70%;
    background: url(../img/main5.jpg)
      no-repeat;
      background-size: cover;
      background-position: center;

  }

  .cardTopf {
    transition: 0.4s all ease;
    height: 70%;
    background: url(../img/main6.jpg)
      no-repeat;
      background-size: cover;
      background-position: center;
  }

  .cardTopg {
    transition: 0.4s all ease;
    height: 70%;
    background: url(../img/KENSING.jpg)
    no-repeat;
      background-size: cover;
      background-position: center;

  }
  

  .cardToph {
    transition: 0.4s all ease;
    height: 70%;
    background: url(../img/main8.jpg)
      no-repeat;

      background-size: cover;
      background-position: center;

  }
  .cardBottom {
    height: 45%;
  
    transition: 0.4s all ease;
  }
  
  .cardText {min-height: 60%; padding: 20px; }
  
  .cardTitle {
    font-size: 15px;
    font-weight: 700;
    color:black;
  }

  .cardTitle2 {
    font-size: 15px;
    font-weight: 700;
    color:black;
    margin-top:20px;
  }
  
  .cardInfo {
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: orange;
  }
  
  
  .cardHoverText {
    visibility: hidden;
    text-align: left;
    padding-top:20px;
    color:#999999;
    line-height: 1.8;
  }
  
  .cardHoverText > ul > li > i ,span{
      color:#ff414d; font-size:20px;
  }

  .cardHoverText > ul > .reviewli {
      display:flex; justify-content: space-between; padding-top:25px;
  }
  


  
  .carda:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
  
  
  .carda:hover .cardHoverText {
    visibility: visible;
    transition: 0.4s all ease;
    transition-delay: 0.1999s;
  }
  
  .carda:hover .cardBottom {
    transition: 0.4s all ease;
    height: 65%;
    opacity: 1;
  }
  
  .carda:hover .cardTopa {
    height: 48%;
    opacity: 0.5;
    transition: 0.4s all ease;


  }


  .cardb:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
  
  
  .cardb:hover .cardHoverText {
    visibility: visible;
    transition: 0.4s all ease;
    transition-delay: 0.1999s;
  }
  
  .cardb:hover .cardBottom {
    transition: 0.4s all ease;
    height: 65%;
    opacity: 1;
  }
  

  .cardc:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
  
  
  .cardc:hover .cardHoverText {
    visibility: visible;
    transition: 0.4s all ease;
    transition-delay: 0.1999s;
  }
  
  .cardc:hover .cardBottom {
    transition: 0.4s all ease;
    height: 65%;
    opacity: 1;
  }
  

  .cardd:hover , .eardd:hover , .cardf:hover 
  , .cardg:hover .cardh:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
  
  
  .cardd:hover .cardHoverText , .carde:hover .cardHoverText
  , .cardf:hover .cardHoverText , .cardg:hover .cardHoverText
  , .cardh:hover .cardHoverText{
    visibility: visible;
    transition: 0.4s all ease;
    transition-delay: 0.1999s;
  }
  
  .cardd:hover .cardBottom , .carde:hover .cardBottom
  , .cardf:hover .cardBottom , .cardg:hover .cardBottom
  , .cardh:hover .cardBottom {
    transition: 0.4s all ease;
    height: 65%;
    opacity: 1;
  }




  .carda:hover .cardTopa ,  .cardb:hover .cardTopb
  , .cardc:hover .cardTopc ,  .cardd:hover .cardTopd
  , .cardf:hover .cardTopf  ,.cardg:hover .cardTopg
  , .carde:hover .cardTope  , .cardh:hover .cardToph{
    height: 48%;
    opacity: 0.5;
    transition: 0.8s all ease;
  }
