html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 100%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
    transform: scale(0.9);
  }

  .slick-prev:before,
  .slick-next:before {
      color: black;
  }

.slick-center img {
transform: scale(1.1);
}

img{width:200px; height:200px;}