
body{background: #f0f4f7 !important}
.banner{width:100%; height:800px; background-color: yellow; background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(img/blur_jpg1.webp); 
    background-position: center; background-size:cover; background-attachment: fixed;}


.content{flex-direction:column; width:1200px; height:800px;  margin:0 auto; display:flex; justify-content: center; align-items:center; }
.content > h1 {font-size:4vw; color:white; padding:0; margin:0; text-transform: uppercase; }
.content > p {font-size:1vw; color:white; padding:0; margin:0; text-align: center; }


#iconbox{width:100%; height:450px;  padding-top:0 !important;}
.iconpage{width:1320px; height:450px;  margin:0 auto;  }
.iconpage > article { border-radius:12px; text-align:center; width:190px; height:190px; background-color:white; float:left; margin: 15px 15px;}

.iconpage > article > i  {padding-top:25px; font-size:60px; color:#ff414d; }
.iconpage > article > img {width:60px; height:60px; position:relative; top:10%; filter: invert(43%) sepia(94%) saturate(3620%) hue-rotate(332deg) brightness(105%) contrast(112%);}
.iconpage > article > text > #bo {padding-top:40px;}
.iconpage > article > text > span {color:#ff414d;}
.iconpage > article:hover {background-color:#ff414d;}
.iconpage > article:hover > img {filter: invert(93%) sepia(40%) 
    saturate(2%) hue-rotate(191deg) brightness(106%) contrast(100%);

}
.iconpage > article:hover > text > span {color:#ff414d; background-color: white; border-radius: 2px;}

#photobox{ width:100%; height:800px; }
.photopage{ width:1320px; height:800px; margin:0 auto;}

.photopage > p {font-size:1.3vw; color:#ff414d; text-align: center; padding-top:40px;}
.photopage > h1{font-size:3vw; color:black; text-align:center; }
.photopage > article {width:300px; height:500px; background-color:greenyellow; float:left;
margin:80px 15px; }

.photopage > article > img {width:100%; height:50%; background-size: cover;}

#textbox{width:100%; height:280px; background-color: black;}
.textpage{width:1320px; height:280px; background-color: #ff414d; margin:0 auto;}
.textpage > .textphoto{width:45%; height:auto; background-position:center; background-size:cover;}

#wrapbox{width:100%; height:800px; background-color: white; }
.wrappage{width:1320px; height:800px; background-color: blue; margin:0 auto;}
.wrappage img {width:45%; height:100%;}
#go {font-size:50px; font-weight: 700; line-height: 1.4; color:white; padding:0; margin:0; text-transform: uppercase; text-align: left; padding-bottom: 1.5em !important;}
 #pfo1 {font-size:1vw; color:#999999; padding:0; margin:0; text-align: left; padding-bottom: 1.5em !important;}
 #pfo2 {font-size:1vw; color:#999999; padding:0; margin:0; text-align: left; }


#videobox{width:100%; height:600px; background-color: black; margin:200px 0 auto;}
#videobox > h1 {margin:0; padding:0; font-size:3em;  text-transform: uppercase; color:white; text-align: center;}
#videobox > p {margin:0; padding:0; font-size:1.4em; color:#ff414d;  text-align: center; padding-bottom:5px;}
.videopage{ width:1320px; height:600px; background-color: black; margin:0 auto; background-image:url(img/blur2.webp); background-position: center; border-radius: 4px; z-index:4;}


#articlebox{width:100%; height:450px; background-color:khaki; margin:200px 0 auto;}
.articlepage{width:1320px; height:450px; background-color:indianred; margin:0 auto;}
.articlepage > article > {float:left; width:270px; height:350px; background-color:yellow;}

#reviewbox{width:100%; height:800px; background-color:#f0f4f7;}
.reviewpage{width:1320px; height:800px; background-color: black; margin:0 auto;}
.reviewpage > h1 {font-size:4vw; color:white; padding:0; margin:0; text-transform: uppercase; text-align: center;}
.reviewpage > p {font-size:1vw; color:white; padding:0; margin:0; text-align: center; }


#sliderbox{width:100%; height:150px; }
.sliderpage{width:1320px; height:150px; background-color: #f0f4f7; margin:0 auto;}

